{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block content %}


      {% for media in album.medias -%}
      
      {# TODO attach all required media info as html5 data attributes #}
      <div class="photo" data-height="{{ media.size.height }}" data-width="{{ media.size.width }}" data-thumb-height="{{ media.thumb_size.height }}" data-thumb-width="{{ media.thumb_size.width }}" data-type="{{ media.type }}" data-id="{{ media.url }}" data-url="{{ media.url }}" data-thumb-url="{{ media.thumbnail }}" data-big-url="{{ media.big_url if media.big_url != None }}" data-title="{{ media.title }}" data-exif="{{ media.exif }}">
            <span class="thumbimg"><img class="lazyload" src="{{ theme.url }}/img/placeholder.png" data-src="{{ media.thumbnail }}" data-srcset="{{ media.thumbnail }} 540w {% if media.big %}, {{ media.big_url }} 1080w {% endif %}" alt="Photo thumbnail" data-overlay="false" draggable="false" sizes="519.9372905257027px" srcset="{{ media.thumbnail }} 540w {% if media.big %}, {{ media.big_url }} 1080w {% endif %}"></span>
            <div class="overlay">
	            <h1 title="{{ media.title }}">{{ media.title }}</h1>
        <a><span title="Camera Date"><svg class="iconic "><use xlink:href="#camera-slr"></use></svg></span>{{ media.exif.datetime }}</a></div>
            </div>
      
      {% endfor %}

    </div></div>

        {% if album.zip %}
        <div id="additionnal-infos" class="row">
          <p><a href="{{ album.zip }}"
                title="Download a zip archive with all images">Download ZIP</a>
          </p>
        </div>
        {% endif %}

        {% if album.description %}
        <div id="description">
          {{ album.description }}
        </div>
        {% endif %}

{% endblock %}

{% block late_js %}

<script>
    function onPictureClicked(event)
    {
        show_photo($(event.currentTarget));
    };
    
    function album_up()
    {
        window.location.href = "{{ album.index_url }}";
    };

	// init
	$(document).ready(function()
	{

        photos_get().each(function (i) {
            $(this).click(onPictureClicked);
	    });
	    
	    $('#button_back').click(photo_hide);
	    $('#button_back_home').click(album_up);
	    
        justify(photos_get());

        // TODO move much of this to base.html?

        header_show();
	    $('.content').removeClass('view');
	    header_setMode('album');

        // TODO at this point these are not created yet...
        $('.arrow_wrapper--previous').click(photo_previous);
        $('.arrow_wrapper--next').click(photo_next);
        
        //$('img, #livephoto').click(photo_update_display_overlay);  // TODO?
        
        setup_keyboard();
        
        // TODO // Fullscreen on mobile
        
		// TODO Swipe on mobile
        //$('#imageview').swipe(
        
        // TODO fullscreen
        //$(document).on('fullscreenchange mozfullscreenchange webkitfullscreenchange msfullscreenchange', lychee_fullscreenUpdate);
        
        // On resize behaviour
        $(window).on('resize', function ()
        {
    		if(visible_album()) justify(photos_get());
	    	if(visible_photo()) photo_onresize();
	    });
	    
		// Fullscreen on mobile
	    $(document).on('touchend', '#imageview #image', function(e) {
			// prevent triggering event 'mousemove'
			e.preventDefault();

			if ((typeof swipe.obj === 'undefined') || (Math.abs(swipe.offsetX)<=5 && Math.abs(swipe.offsetY)<=5)) {
				// Toggle header only if we're not moving to next/previous photo;
				// In this case, swipe.preventNextHeaderToggle is set to true
				if((typeof swipe.preventNextHeaderToggle === 'undefined') || (!swipe.preventNextHeaderToggle)) {
					if (visible_header()) {
						header_hide(e);
					} else {
					  header_show();
					}
				}

				// For next 'touchend', behave again as normal and toggle header
				swipe.preventNextHeaderToggle = false;
			}
	    });
	    
	    // Swipe behaviour on mobile
	    $('#imageview')
		    // Swipe on mobile
		    .swipe().on('swipeStart', function() { if (visible_photo()) swipe_start($('#imageview #image, #imageview #livephoto')) })
		    .swipe().on('swipeMove',  function(e) { if (visible_photo()) swipe_move(e.swipe) })
		    .swipe().on('swipeEnd',   function(e) { if (visible_photo()) swipe_stop(e.swipe, photo_previous, photo_next) })
	        
	    });
</script>

{% endblock %}
