{% extends "base.html" %}

{% block extra_head %}
    {# These are used on album pages - prefetch now #}
    
    <style>
        #albums {position: relative;}
        div .album {float: left;}
        {% if album.meta.background_image %}
        div .content {background: linear-gradient(rgba(29, 29, 29, 0.75), rgba(29, 29, 29, 0.75), rgba(29, 29, 29, 1)), url("{{ album.meta.background_image[0] | urlencode }}");
                      background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}
        {% endif %}
    </style>

{% endblock %}

{% block content %}
        <div id="albums">
        
            {% for alb in album.albums %}

            <div class="album" data-id="{{ alb.name }}" data-url="{{ alb.url }}" data-zipdl="{{ alb.zip }}" data-title="{{ alb.title }}" data-thumb="{{ alb.thumbnail }}">
				  <span class="thumbimg"><img style="object-fit: cover;" class=" ls-is-cached lazyload" src="{{ alb.random_thumbnail }}" data-src="{{ alb.random_thumbnail }}" data-srcset="{{ alb.random_thumbnail }} 2x" alt="Photo thumbnail" data-overlay="false" draggable="false" srcset="{{ alb.random_thumbnail }} 2x"></span>
				  <span class="thumbimg"><img style="object-fit: cover;" class=" ls-is-cached lazyload" src="{{ alb.random_thumbnail }}" data-src="{{ alb.random_thumbnail }}" data-srcset="{{ alb.random_thumbnail }} 2x" alt="Photo thumbnail" data-overlay="false" draggable="false" srcset="{{ alb.random_thumbnail }} 2x"></span>
				  <span class="thumbimg {% if alb.thumbnail_media and alb.thumbnail_media.type == 'video' %}video{% endif %}"><img style="object-fit: cover;" class=" ls-is-cached lazyload" src="{{ alb.thumbnail }}" data-src="{{ alb.thumbnail }}" data-srcset="{{ alb.thumbnail }} 2x" alt="{{ alb.name }}" data-overlay="false" draggable="false" srcset="{{ alb.thumbnail }} 2x"></span>

				<div class="overlay">
					<h1 title="{{ alb.title }}">{{ alb.title }}</h1>
					<a><!-- TODO put album date (month, year (range)) here eg. "Aug 2019" or "Jul 2009 - Nov 2018" --></a>
				</div>
			
				<div class="badges">
					<a class="badge  icn-star"><svg class="iconic "><use xlink:href="#star"></use></svg></a>
					<a class="badge  badge--not--hidden icn-share"><svg class="iconic "><use xlink:href="#eye"></use></svg></a>
					<a class="badge "><svg class="iconic "><use xlink:href="#list"></use></svg></a>
					<a class="badge "><svg class="iconic "><use xlink:href="#clock"></use></svg></a>
					<a class="badge "><svg class="iconic "><use xlink:href="#lock-locked"></use></svg></a>
				</div>
			</div>

            {% endfor %}
        </div>

        {% if album.description %}
        <div id="description">
          {{ album.description }}
        </div>
        {% endif %}
{% endblock %}

{% block late_js %}
<script>
    function onAlbumClicked(event)
    {
        let el = $(event.currentTarget);
        let url = el.attr('data-url');
        window.location.href = url;
    };
    
    function album_up()
    {
        window.location.href = "{{ album.index_url }}";
    };

    function downloadAll()
    {
        window.open('{{ album.all_zip }}');
    }

	// init
	$(document).ready(function()
	{

        $("div .album").each(function (i) {
            $(this).click(onAlbumClicked);
	    });
	    
	    $('#button_back_home').hide();
	    $('#button_archive').attr('title', 'Download everything')
	    {% if album.zip %}
            $('#button_archive').click(downloadAll);
	    {% else %}
	        $('#button_archive').hide();
	    {% endif %}

	    
	    // Fullscreen button
        $(document).on('fullscreenchange mozfullscreenchange webkitfullscreenchange msfullscreenchange', lychee_fullscreenUpdate);
        $('.header').find('#button_fs_album_enter,#button_fs_enter').click(lychee_fullscreenEnter);
        $('.header').find('#button_fs_album_exit,#button_fs_exit').click(lychee_fullscreenExit);

        // TODO move much of this to base.html?

        header_show();
	    $('.content').removeClass('view');
	    header_setMode('album');
    });
</script>

{% endblock %}
